.content h1 {
    text-align: center;
}


.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
  /* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
@import "../../../node_modules/vue-material/dist/theme/engine";

@include md-register-theme("green-card", (
  primary: md-get-palette-color(green, 100)
));

@include md-register-theme("black-card", (
  primary: md-get-palette-color(black, 500)
));

@include md-register-theme("purple-card", (
  primary: md-get-palette-color(purple, 100)
));

@include md-register-theme("orange-card", (
  primary: md-get-palette-color(orange, 100)
));

@import "../../../node_modules/vue-material/dist/base/theme";
@import "../../../node_modules/vue-material/dist/components/MdCard/theme";

.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}
