<b-container v-if="isAlive" class="content" xmlns:v-bind="http://www.w3.org/1999/xhtml">

  <b-row>
    <b-col class="content">
      <md-button v-on:click="this.console.log(bookLib)"> HERE !</md-button>
      <h1 >
        <strong>本周推荐
        </strong>
      </h1>
    </b-col>
  </b-row>

  <b-row>
    <div class="card-expansion">
      <md-card v-for="book in bookLib" md-with-hover>
        <md-card-media>
          <img v-bind:src="book.cover" alt="Book Cover">
        </md-card-media>

        <md-card-header>
          <div class="md-title">{{book.bookName}}</div>
          <div class="md-subhead">{{book.author}}</div>
        </md-card-header>

        <md-card-expand>
          <md-card-actions md-alignment="space-between">
            <div>
              <md-button>加入购物车</md-button>
              <md-button>立马购买</md-button>
            </div>

            <md-card-expand-trigger>
              <md-button class="md-icon-button">
                <md-icon>keyboard_arrow_down</md-icon>
              </md-button>
            </md-card-expand-trigger>
          </md-card-actions>

          <md-card-expand-content>
            <md-card-content>
              {{book.details}}
            </md-card-content>
          </md-card-expand-content>
        </md-card-expand>
      </md-card>
    </div>
  </b-row>
</b-container>
