@import "~bootstrap/scss/bootstrap.scss";

html, body, #app-main {
    height: 100%;
}

.content {
  margin-top: 50px;
}

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #01677f, // The primary color of your brand
  accent: #01a5cc // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme
