<md-toolbar class="md-primary">
  <div class="md-toolbar-row">
    <span class="md-title">Bookie</span>
    <md-button class="md-icon-button" href="https://github.com/yuxiqian/SE-228">
      <md-icon>code</md-icon>
    </md-button>

    <md-button v-if="link.name !== '详情' || shouldDisplayDetails" v-for="link in links" :key="link.name" :to="link.path" exact>{{link.name}}</md-button>

    <md-autocomplete
      v-on:input="updateSelected()"
      class="search"
      v-model="selectedBook"
      :md-options="bookNames"
      md-layout="box">
      <label>搜寻...</label>
    </md-autocomplete>

    <md-button href="/logout">注销</md-button>
  </div>
</md-toolbar>
