<b-container class="content">
  <b-row>
    <b-col class="content">
      <h1>
        <strong>个人中心</strong>
      </h1>
      <p>在
        <a href="https://github.com/yuxiqian/SE-228">这里</a> 检视项目的源代码。</p>
    </b-col>
  </b-row>
  <b-row>
    <md-empty-state
      class="md-primary"
      md-icon="book"
      md-label="已购项目"
      :md-description="purchasedTextField">
    </md-empty-state>

    <md-empty-state
      class="md-accent"
      md-rounded
      md-icon="shopping_cart"
      md-label="购物车"
      :md-description="marketTextField">
    </md-empty-state>
  </b-row>
  <b-col>
  <b-col class="content">
    <md-layout md-align="center">
    <md-table v-model="cartList" md-sort="time" md-sort-order="desc">
      <md-table-toolbar>
        <h1 class="md-title">购物车</h1>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="ISBN" md-numeric>{{ item.isbn }}</md-table-cell>
        <md-table-cell md-label="交易流水" md-sort-by="bill_uuid">{{ item.bill_uuid }}</md-table-cell>
        <md-table-cell md-label="交易时间" md-sort-by="time">{{ item.time }}</md-table-cell>
        <md-table-cell md-label="数量" md-sort-by="count">{{ item.count }}</md-table-cell>
<!--        <md-table-cell md-label="Job Title" md-sort-by="title">{{ item.title }}</md-table-cell>-->
      </md-table-row>
    </md-table>
      </md-layout>
    <md-layout md-align="center">
  <md-table v-model="purchasedList" md-sort="time" md-sort-order="desc">
    <md-table-toolbar>
      <h1 class="md-title">已购项目</h1>
    </md-table-toolbar>

    <md-table-row slot="md-table-row" slot-scope="{ item }">
      <md-table-cell md-label="ISBN" md-numeric>{{ item.isbn }}</md-table-cell>
      <md-table-cell md-label="交易流水" md-sort-by="bill_uuid">{{ item.bill_uuid }}</md-table-cell>
      <md-table-cell md-label="交易时间" md-sort-by="time">{{ item.time }}</md-table-cell>
      <md-table-cell md-label="数量" md-sort-by="count">{{ item.count }}</md-table-cell>
      <!--        <md-table-cell md-label="Job Title" md-sort-by="title">{{ item.title }}</md-table-cell>-->
    </md-table-row>
  </md-table>
      </md-layout>
  </b-col>
</b-container>
